<div class="preview">
    <div class="preview-image">
        <img id="preview-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAQAAACWCLlpAAAA3klEQVR42u3QQREAAAwCoNm/9Cr49iACOWpRIEuWLFmyZCmQJUuWLFmyFMiSJUuWLFkKZMmSJUuWLAWyZMmSJUuWAlmyZMmSJUuBLFmyZMmSpUCWLFmyZMlSIEuWLFmyZCmQJUuWLFmyFMiSJUuWLFkKZMmSJUuWLAWyZMmSJUuWAlmyZMmSJUuBLFmyZMmSpUCWLFmyZMlSIEuWLFmyZCmQJUuWLFmyFMiSJUuWLFkKZMmSJUuWLAWyZMmSJUuWAlmyZMmSJUuBLFmyZMmSpUCWLFmyZMlSIEuWLFmbHrcjAJdeLWiCAAAAAElFTkSuQmCC">
        <div class="empty-image">
            <div>
                <i class="bi bi-card-image"></i>
                <span>Ajoutez une image</span>
            </div>
        </div>
    </div>
    <div>
        <h6 id="preview-title">Donnez un titre court et descriptif à votre code promo</h6>
        <p id="preview-description">En manque d'idée ? Préseentez le produit ou l'offre avec vos propres mots, expliquez en quoi l'offre est intéressante selon vous.</p>
    </div>
</div>
