{% extends 'base.html.twig' %}

{% block title %}CodePromo index{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-3 align-items-start">
        <a class="btn btn-primary text-white" href="{{ path('app_code_promo_new') }}">Ajouter un code promo</a>
        <div class="d-flex flex-column w-100">
            {% for code_promo in code_promos %}
                {{ component('publication', {
                    publication: code_promo.publication
                }) }}
            {% else %}
                <p class="text-center">Aucun code promo pour le moment</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
