{% extends 'base.html.twig' %}

{% block title %}CodePromo index{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        {% for code_promo in code_promos %}
            {{ component('publication', {
                publication: code_promo.publication
            }) }}
        {% else %}
            <p>No code_promos found</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_code_promo_new') }}">Create new</a>
{% endblock %}
