{{ form_start(form, {'attr': {'class': 'gap-3 d-flex flex-column'}}) }}
    {{ form_row(form.keyword) }}
    {{ form_row(form.minimum_notation) }}

    <button class="btn btn-primary" type="submit">Ajouter</button>
{{ form_end(form) }}
