/* Réinitialisation des styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #efefef;
}

/* Réinitialisation des styles pour les liens */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

/* Réinitialisation des styles pour les listes */
ul,
ol {
    list-style: none;
}
