.container-profil{
    padding-top: 40px;
}

.card-profil {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-profil-header {
    background-color: #043c77;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.card-profil-body {
    padding: 30px;
}

.label-profil {
    font-weight: bold;
}

.tile {
    padding: 20px;
}

.tile .progress {
    height: 20px;
}

.tile .progress-bar {
    background-color: #043c77;
}

.tile .text {
    margin-top: 10px;
}

.badge{
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
}

.badgeImg{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.badgeDetail{
    color:black;
    width: 100%;
}
.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #043c77;
}

.topnav a.active {
    border-bottom: 3px solid #043c77;
}
