.container-profil{
    padding-top: 40px;
}

.card-profil {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-profil-header {
    background-color: #043c77;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.card-profil-body {
    padding: 30px;
}

.label-profil {
    font-weight: bold;
}

.tile {
    padding: 20px;
}

.tile .progress {
    height: 20px;
}

.tile .progress-bar {
    background-color: #043c77;
}

.tile .text {
    margin-top: 10px;
}
