
<div class="d-flex flex-column gap-3 align-items-start">
    <div class="d-flex flex-column gap-5 w-100">
        {% for deal in deals %}
            {{ component('publication', {
                publication: deal,
            }) }}
            <form method="post" action="{% if deal.deal %}{{path("app_deal_delete", {id: deal.deal.id})}}{% else %}{{path("app_code_promo_delete",{id: deal.codePromo.id})}}{% endif %}" onsubmit="return confirm('Voulez vous vraiment supprimer cette publication ?')">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        {% else %}
            <p class="text-center">Aucune publication publié</p>
        {% endfor %}
    </div>
</div>
