<div class="card publication">
    <div class="d-flex h-100 w-100">
        <img class="card-img align-self-center p-4" src="{{ asset('uploads/publications/'~publication.image) }}"
             alt="Publication image">
        <div class="w-100 d-flex flex-column">
            <div class="card-body">
                <h5 class="card-title">{{ publication.title }}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <small class="text-muted">
                        Publié le {{ publication.publishedAt|date('d/m/Y') }} par {{ publication.user. }}
                    </small>
                </p>
            </div>
        </div>


    </div>
</div>
